{% extends 'base.html.twig' %}

{% block title %}TP Blog{% endblock %}

{% block body %}
<h1>Bomdia !</h1>
<h1 class="text-white text-center mt-5">
Mes dernières notes
        <p>{{ path('show_article')}} </p>
</h1>
{% endblock %}
